@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


/* Shared styles */
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
  font-family: "Inter", sans-serif;
  background-color: rgb(245, 248, 255);
}

.flex {
  display: flex;
}

.navbar,
.banner,
.plants-lover {
  justify-content: space-between;
  align-items: center;
}

.banner,
section {
  margin-top: 120px;
}

.section-title {
  font-family: "Noto Serif", serif;
  font-size: 3.2rem;
  color: #000000;
}

.title-color {
  color: #E95A08;
}

.section-description {
  font-size: 1.4rem;
  color: hsla(0, 0%, 0%, 0.5);
  margin: 16px auto 0px;
  max-width: 880px;
}

.primary-btn {
  background-color: #E95A08;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 18px;
}


/* navbar styles */
.nav-links {
  gap: 45px;
  list-style: none;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links .home {
  font-weight: 700;
  color: #252432;
}

.nav-links .shop,
.nav-links .about {
  color: #8987A1;
}

/* Banner styles */
.banner-content {
  max-width: 570px;
}

.banner-title {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: 700;
}


/* Plants style */
.plants-section {
  text-align: center;
}

.products-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  justify-items: center;
  align-items: center;
}

.product {
  width: 270px;
}

.product-image {
  width: 100%;
}

.product-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #111111;
  margin-top: 30px;
}

.product-rate {
  font-size: 1.4rem;
  font-weight: 700;
  color: #111111;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Plants Lover Styles */

.plants-lover .store-image {
  z-index: 0;
}

.plants-lover .trusted-badge {
  width: 280px;
  z-index: 1;
  margin-left: -170px;
  margin-top: -550px;
}

.plants-lover-title {
  max-width: 540px;
}

.plants-lover-description li {
  margin-top: 30px;
}












/* Responsive styles (Mobile devices) */
@media screen and (max-width: 576px) {
  body {
    padding: 15px;
  }

  .nav-links .home,
  .nav-links .shop,
  .nav-links .about {
    display: none;
  }
  
  .navbar img {
    width: 70px;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 28px;
  }

  section {
    margin-top: 65px;
  }

  .banner-title,
  .section-title {
    font-size: 1.75rem;
  }

  .section-description {
    font-size: 0.9rem;
    margin-top: 15px;
  }

  .banner img {
    width: 100%;
    margin-right: -29px;
  }

  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    width: 170px;
  }

  .product-title,
  .product-rate,
  .primary-btn {
    font-size: 1rem;
  }
}