@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


/* Shared styles */
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 30px 0px;
  font-family: "Inter", sans-serif;
  background-color: rgb(245, 248, 255);
}

.flex {
  display: flex;
}

.navbar,
.banner,
.plants-lover {
  justify-content: space-between;
  align-items: center;
}

.banner,
section {
  margin-top: 120px;
}

.section-title {
  font-family: "Noto Serif", serif;
  font-size: 3.2rem;
  color: #000000;
}

.title-color {
  color: #E95A08;
}

.section-description {
  font-size: 1.4rem;
  color: hsla(0, 0%, 0%, 0.5);
  margin: 16px auto 0px;
  max-width: 880px;
}

.primary-btn {
  background-color: #E95A08;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 18px;
  cursor: pointer;
}

.join-section,
.footer {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* navbar styles */
.nav-links {
  gap: 45px;
  list-style: none;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links .home {
  font-weight: 700;
  color: #252432;
}

.nav-links .shop,
.nav-links .about {
  color: #8987A1;
}

/* Banner styles */
.banner-content {
  max-width: 570px;
}

.banner-title {
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: 700;
}


/* Plants style */
.plants-section {
  text-align: center;
}

.products-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  justify-items: center;
  align-items: center;
}

.product {
  width: 270px;
}

.product-image {
  width: 100%;
}

.product-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #111111;
  margin-top: 30px;
}

.product-rate {
  font-size: 1.4rem;
  font-weight: 700;
  color: #111111;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Plants Lover Styles */

.plants-lover .store-image {
  z-index: 0;
}

.plants-lover .trusted-badge {
  width: 280px;
  z-index: 1;
  margin-left: -170px;
  margin-top: -550px;
}

.plants-lover-title {
  max-width: 540px;
  margin-left: -20px;
}

.plants-lover-description li {
  margin-top: 20px;
  margin-left: 20px;
  text-align: justify;
}

/* Latest Deals section */
.deals-container {
  text-align: center;
}

.deals-card-container {
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
}

.deals-column-1 {
  flex-direction: column;
  gap: 24px;
  width: 33%;
}

.deals-column-2 {
  width: 66%;
}

.deals-card {
  border-radius: 22px;
}

.bloom-plant,
.ana-plant {
  padding: 65px 30px;
}

.bloom-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);
}

.ana-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
}

.zabo-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
  padding: 145px 100px;
}

.bloom-plant,
.ana-plant,
.zabo-plant {
  background-size: cover;
}

.bloom-plant h3,
.ana-plant h3 {
  font-family: "Noto Serif", serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.bloom-plant a,
.ana-plant a {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.zabo-plant h3 {
  color: white;
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.zabo-plant a {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
}

/* join section styles */
.join-section {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  height: 530px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-section-title {
  color: #ffffff;
  font-weight: 700;
}

#email {
  width: 620px;
}

#email,
.submit-btn {
  padding: 10px 20px;
  margin-top: 25px;
  border: none;
  background-color: #ffffff;
  font-size: 1rem;
}

.submit-btn {
  margin-left: -5px;
  background-color: #E95A08;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}


/* Footer styles */
.footer {
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 50px;
  background-color: rgb(250, 252, 255);
}

.footer .section-description {
  max-width: 350px;
}

.footer-columns {
  gap: 100px;
}

.footer-link-column {
  flex-direction: column;
  gap: 30px;
}

.footer-link-column a {
  text-decoration: none;
  color: #6B7280;
}

.social-links {
  gap: 24px;
  align-items: center;
}










/* Responsive styles (Mobile devices) */
@media screen and (max-width: 576px) {
  body {
    padding: 15px;
  }

  .nav-links .home,
  .nav-links .shop,
  .nav-links .about {
    display: none;
  }
  
  .navbar img {
    width: 70px;
  }

  .banner {
    flex-direction: column-reverse;
    gap: 28px;
  }

  section {
    margin-top: 65px;
  }

  .banner-title,
  .section-title {
    font-size: 1.5rem;
  }

  .section-description {
    font-size: 0.9rem;
    margin-top: 15px;
  }

  .banner img {
    width: 100%;
    margin-right: -29px;
  }

  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    width: 170px;
  }

  .product-title,
  .product-rate,
  .primary-btn {
    font-size: 1rem;
  }

  /* plants lover responsive */
  .plants-lover {
    flex-direction: column;
  }

  .plants-lover .store-image {
    width: 100%;
  }

  .trusted-badge {
    display: none;
  }

  .plants-lover-title {
    margin-top: 20px;
  }

  .plants-lover-description li {
    margin-left: 20px;
    margin-top: 15px;
  }

  /* join section responsive styles */
  .join-section {
    height: 275px;
  }

  .join-section-title {
    font-size: 1.25rem;
  }

  #email {
    max-width: 200px;
  }

  /* Footer */
  .footer {
    padding: 50px 20px;
  }

  .footer,
  .footer-columns {
    flex-direction: column;
    gap: 20px;
  }
}